body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

#container {
    
    display: grid;
    /*
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    */
    width: 660px;
    height: 660px;
}

.grid {
    background-color: lightcoral;
    border: solid antiquewhite 0.1em;
}

.hovering {
    background-color: lightskyblue;
    border: solid antiquewhite 0.1em;

}

.hoverTwo {
    background-color:grey ;
    border: solid black 1px;
    width: 20px;
    height: 20px;
    padding: 1rem;
}